{% extends 'blog/base.html' %}

{% block title %}Lista de Posts{% endblock %}

{% block content %}
    <h1>Lista de Posts</h1>

    {% for post in posts %}
        <article>
            <h2>
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
            </h2>
            <p><em>{{ post.published_date }}</em></p>
            <p>{{ post.text|linebreaksbr }}</p>
            <hr>
        </article>
    {% empty %}
        <p>Nenhum post disponível ainda.</p>
    {% endfor %}
{% endblock %}

