body {
    background-color: rgb(210, 243, 254);
}

.menu {
  background-color: #333; 
  padding: 10px;
}


.menu ul {
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
  gap: 20px; 
}

.menu ul li a {
  color: white; 
  text-decoration: none; 
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.menu ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

